extends layout

block content
    div.main-div
        h1= title
        p The purpose of this experiment is to conduct a study about reading performance changes of a person while using an adaptive reading system as compared to a non-adaptive e-reading system.

        form(name="newuser", method='post', action="/newuser")
            input(type="text", placeholder="Name" , name="name" id="name")
            input(type="text", placeholder="Age" , name="age")
            input(type="text", placeholder="Sex" , name="sex", id="sex")
            input(type="text", placeholder="Nationality" , name="nationality")
            input(type="text", placeholder="Fluency(English)" , name="fluency")
            div.clear
            input(type='submit', class="button submit_btn transition", value='Continue')

