//
   Created by akpillai on 25/11/2016.

extends layout
//var endTime = new Date();
    //timeElapsed = endTime - startTime;
    //document.forms['task1'].submit();

block content
    script.
        var startTime;

        $(document).ready(function () {
            startTime = new Date();
        });


        function timeCalculation(){
            var endTime = new Date();
            var timeElapsed = endTime - startTime;
            document.getElementById("time").value = parseInt(timeElapsed);
            document.forms['task1'].submit();
        }

    div.task1

        p.
                Sagardatta was a merchant who had a handsome young son. 

                One day, he saw that his young son and bought a costly book. But the book contained only

                one verse, &quot;You get what is destined for you!&quot; 
        br
        p.
                When the merchant realized that his son was a fool to buy a book with so much cost, but

                only one verse, he grew very angry. He said, &quot;How can you do well in business, when you can

                buy a book which contains only one verse! Get out of my house, and never show me your

                face again!&quot; 
                The young man was utterly dejected for being driven out by his father; he started travelling

                with only his book along with him. He learnt the verse well, and kept repeating it, all the

                way. 

                On his way, he arrived in a village. The villagers asked him his name and he replied from the

                book, &quot;You get what is destined for you&quot; 


                Thus, the young man became known as &#39;You-get- what-is- destined-for- you&#39;. 


                One day, the princess of the country visited a festival and saw a handsome prince, who was

                also attending the festival. She fell in love immediately and asked her attendant to find a

                way to send a message to the handsome prince. 



                She wrote a note, and gave it to her attendant. The attendant gave the note to the young

                merchant&#39;s son by mistake. He read that she wrote, &quot;I have fallen in love with you, the very

                moment I have set my eyes on you. Please meet me in the castle. You will find a hope

                hanging from one of the windows, which will lead you to my room.&quot; 



                He thought, &quot;I will honour the wishes of the princess to meet me in person.&quot; 


                When he climbed up the rope, and entered the princess&#39;s room, it was very dark. The

                princess thought he was the prince at the festival, and received him warmly. She served him

                food and drink, and entertained him in every manner. 

                She said, &quot;I have deeply fallen in love with you. I shall have no other man as my husband,

                except for you. Please tell me what you have in your mind.&quot; 


                The merchant&#39;s son replied, &quot;You get what is destined for you&quot; 


                She was surprised to hear the prince speak so, and immediately enlightened her room. She

                got furious when she realized he was not the handsome prince, she thought him to be, and

                ordered him out of her room. 


                The young man was sad on treated in such manner without being at fault, and walked to a

                nearby temple. He decided to spend the night there, and fell asleep. 



                The temple remained un-inhabitated and the night watchman carried out tasks of ill repute

                during the night. He wanted the young man to leave and said, &quot;This temple is old and

                broken. You may sleep in my home.&quot; 



                Thus, the young man went to his house. But he made a mistake and got into the wrong

                room, where the watchman&#39;s daughter was waiting for her lover to arrive during his father&#39;s

                absence. 



                In the darkness of the night, the watchman&#39;s daughter mistook him for his lover and

                exchanged garlands in front of the picture of God. Thus, according to traditions they got

                married. 



                The young man said, &quot;You get what is destined for you&quot;. When she heard this, she realized

                she had done a mistake, and thought, &quot;Such mistake is bound to happen, when you rush into

                doing something without thinking sufficiently about it!&quot; She cursed him and threw him out

                of the house. 



                Saddened by being treated in such manner without being at fault, he was walking slowly,

                when he saw a marriage procession approaching.



                They had magnificent clothes, and wore precious jewels. He followed the groom&#39;s

                procession, which was going to the bride&#39;s home, where a lavish ceremony was arranged. 

                 

                All of a sudden, a mad elephant rushed towards the procession, and everybody ran helter-

                skelter. The bride stood there in the middle of the turmoil, too afraid to run. 

                 

                When he saw this, the young man got hold of a huge nail, and jabbed it into the elephant.

                The elephant got frightened and ran away. 

                 

                After a while, when the bride&#39;s friends and relatives returned, she said, &quot;At the moment

                when my life was in danger, there was none to help me except for this courageous stranger.

                I will marry none other than him. This is my firm resolution.&quot; 

                 

                The groom&#39;s friends and relatives were offended by these words, and there was a heated

                argument. 

                 

                When the words reached around, the king had to come himself to pacify everybody and stop

                the argument. Everyone including the princess and the watchman&#39;s daughter came to the

                place. 

                 

                The king asked the young man, &quot;You were present in the ceremony. You saved the would-be

                bride and everybody from the elephant, it is said. I ask you to explain the whole thing to

                me!&quot; 

                 

                All the young man said was, &quot;You get what is destined for you&quot;. The princess and the

                watchman&#39;s daughter were embarrassed to hear the words. 

                 

                When the king heard this and saw the princess and the watchman&#39;s daughter blushing, he

                demanded to know the truth. 

                 

                The night watchman&#39;s daughter confessed of marrying him by mistake, and said, &quot;It was my

                destiny, and I do not repent it!&quot; 

                 

                The princess explained to the king that she had spent time with him by mistake, and said, &quot;It

                was my destiny, and I do not regret it!&quot; 

                 

                On hearing them, the bride confronted the king and said, &quot;O King, what destiny has given to

                me, none can take away from me!&quot; 

                 

                After hearing everybody and consulting his ministers, the king arranged for a ceremony. He

                gifted the young merchant&#39;s son with a thousand villages, apart from ornaments and golds.

                He married the young man with his young princess, and made him his heir to the throne. 

                The bride-in- waiting, and the watchman&#39;s daughter were also married to him, by their

                respective parents, in the same ceremony.


        form(name="task1", method='post', action="/task1")
            //div.intro-form
            //   div.clear
            input(type='hidden', name="timeElapsed", value="", id="time")
            input(type="text", placeholder="Fluency(English)" , name="fluency")
            input(type='button', onclick='timeCalculation()', class="button submit_btn transition right", value='Next')
